body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

header{
    background-color: #7b0fa3;
    padding: 15px;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 28px;
    color: #00ff49;
    font-weight: bold;
}

.search-section{
    background-color: black;
    padding: 15px;
    text-align: left;
}

.search-section input{
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 4px;
}

.btn-search{
    background-color: #2b8e2b;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
}

.container{
    width: 90%;
    margin: 20px auto;
    background-color: #1d3ea3;
    padding: 20px;
    border-radius: 10px;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 8px;
}

.top-bar h2{
    margin: 0;
    font-size: 26px;
}

.btn-add{
    background-color: #e48f19;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-top: 20px;
}

table th{
    background-color: #0c228f;
    padding: 12px;
    color: white;
    border: 2px solid black;
    font-size: 18px;
}

table td{
    padding: 12px;
    border: 1px solid black;
    text-align: left;
}

.btn-edit, .btn-delete{
    background-color: #e48f19;
    border: none;
    padding: 7px 12px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.btn-delete{
    background-color: #c7361d;
}
